# ====================     W E B     S E R V E R     ==================== #

# Public HTTP port exposed by nginx.
# Normally only used for redirecting to HTTPS.
HTTP_PORT=80

# Public HTTPS port exposed by nginx (main access to ENERVIGIL UI/API).
HTTPS_PORT=443

# Device hostname used for TLS certificate generation.
# ENERVIGIL will be reachable at https://<HOSTNAME>
HOSTNAME=enervigil.local

# ====================     M Q T T     I N T E R N A L     B R O K E R     ==================== #

# Public MQTT port exposed by internal MQTT broker (plain MQTT with no TLS)
MQTT_PORT=1883

# Public MQTTS port exposed by internal MQTT broker (MQTT with TLS)
MQTTS_PORT=8883

# Set to true to enable plain MQTT exposure (non secure)
MQTT_ENABLE_PLAIN=false

# Set to true to enable TLS MQTT exposure
MQTT_ENABLE_TLS=true

# MQTT authentication
# Set MQTT_ALLOW_ANONYMOUS to true if you don't want authentication.
# You can set this to true and also give username and password if you want to enable anonymous sessions
MQTT_ALLOW_ANONYMOUS=true
# MQTT_USERNAME=username
# MQTT_PASSWORD=password