services:
  scripts:
    build: ./scripts
    container_name: enervigil-init-scripts
    environment:
      - DEVICE_HOSTNAME=${HOSTNAME}
    volumes:
      - ./cert:/cert
  influxdb:
    image: influxdb:1.8
    container_name: enervigil-timedb
    command: influxd -config /etc/influxdb/influxdb.conf
    volumes:
      - ./data/influxdb:/var/lib/influxdb
      - ./conf/influxdb:/etc/influxdb
      - ./logs/influxdb:/var/log/influxdb
    restart: unless-stopped
  nginx:
    image: nginx:alpine
    container_name: enervigil-nginx
    ports:
      - "${HTTP_PORT}:80"
      - "${HTTPS_PORT}:443"
    volumes:
      - ./conf/nginx:/etc/nginx:ro
      - ./logs/nginx:/var/log/nginx
      - ./cert:/cert:ro
    depends_on:
      - scripts
      - ui
      - backend
    restart: unless-stopped
  ui:
    build: ./ui
    container_name: enervigil-ui
    environment:
      # Internal SvelteKit Server
      - HOST=0.0.0.0
      - PORT=8080
    restart: unless-stopped
  backend:
    build: ./app
    container_name: enervigil-backend
    environment:
      # Internal HTTP server
      - HTTP_HOSTNAME=0.0.0.0
      - HTTP_PORT=8000
      # InfluxDB connection
      - TIMEDB_HOSTNAME=enervigil-timedb
      - TIMEDB_PORT=8086
      - TIMEDB_USERNAME=root
      - TIMEDB_PASSWORD=root
      # Paths
      - DB_PATH=/var/lib/sqlite
      - APP_DATA_PATH=/var/lib/enervigil-backend
    volumes:
      - ./data/sqlite:/var/lib/sqlite
      - ./data/app:/var/lib/enervigil-backend
    depends_on:
      - influxdb
    restart: unless-stopped
